{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Contattaci - GymShop{% endblock %}
{% block hero_title %}Hub di supporto{% endblock %}
{% block hero_image %}
<!-- Nessuna immagine -->
{% endblock %}
{% block products %}
<!-- Nessuna Prodotto -->
{% endblock %}

{% block content %}
<section class="contact">
    <h2>Come posso contattare GymShop via email?</h2>
    <p>
        Il modo più rapido per contattarci è tramite il nostro indirizzo e-mail: 
        <a href="mailto:gabbuz10@gmail.com">hostgymapp@gymshop.com</a>. 
        Di solito cercheremo di risponderti entro 24-48 ore.
    </p>
    <ul>
        <li>Numero ordine (es. #IT123456)</li>
        <li>Indirizzo e-mail</li>
        <li>Una descrizione del tuo problema</li>
        <li>Immagini di supporto (se applicabile)</li>
    </ul>
    <p>Questo ci consentirà di rispondere a qualsiasi domanda tu abbia il più rapidamente possibile.</p>
    <hr>
    <h2>Perché GymShop non ha un numero di telefono?</h2>
    <p>
        GymShop non dispone di un call center e non è attrezzata per gestire grandi volumi di telefonate. Tuttavia, siamo sempre disponibili tramite la nostra chat o via e-mail.
    </p>
    <hr>
    <h2>Vuoi unirti al Nostro team?</h2>
    <p>
        Caro fornitore, se desideri unirti al nostro team, ti invitiamo a contattarci via email all'indirizzo <a href="mailto:gabbuz10@gmail.com">gs@gymshop.com</a>. 
        Nella tua email, includi cortesemente le seguenti informazioni:
    </p>
    <ul>
        <li>I tuoi dati</li>
        <li>Nome dell'azienda</li>
        <li>Indirizzo e-mail di riferimento</li>
        <li>Una descrizione della tua attività</li>
        <li>Numero di telefono</li>
    </ul>
    <p>Saremo felici di valutare la tua candidatura e collaborare con te!</p>
    <p>Se sarai dei nostri ti verrà creato un profilo su misura e avrai la possibilità di vendere i tuoi prodotti sul nostro sito.</p>
    <hr>
</section>
{% endblock %}
