/* Header */
.head {
    background-color: #2a2a2a;
    padding: 20px;
    text-align: center;
}

.head-content {
    margin-top: 10px;
}

.navbar1 ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.navbar1 a {
    text-decoration: none;
    color: rgb(149, 119, 178);  
    font-weight: bold;
    transition: color 0.3s;
}

.navbar1 a:hover {
    color: #9800bd;
}

.logo1 {
    max-width: 150px;
    height: auto;
    margin: 10px auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Supplier Info */
.supplier-info {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.supplier-info h2 {
    color: rgb(128, 73, 180);
    margin-bottom: 15px;
}

/* Product List */
.supplier-products {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

.supplier-products h2 {
    color: rgb(149, 119, 178);
    text-align: center;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    max-width: 250px;
    text-align: center;
}

.product-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-category {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 10px;
}

.product-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.product-price {
    font-size: 16px;
    color: #ffcc00;
    margin-bottom: 15px;
}

.details-button {
    display: inline-block;
    background-color: rgb(149, 119, 178);
    color: #1c1c1c;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #3717c6;
}